html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: auto;
}

body {
  padding: 1rem;
  overflow: auto;
}

#loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#infoPlace {
  height: 5%;
  width: 100%;

  display: inline-flex;
  margin-bottom: 10px;
}

.dateFilterDiv {
  height: 50px;
  width: 250px;

  display: inline-flex;
}

.dateFilterInput {
  height: 50px;
  width: 150px;
}

.dateFilterLabel {
  height: 35px;
  width: 100px;

  text-align: center;
  font-size: medium;
  padding-top: 15px;
}
